@model IEnumerable<ThuongMaiDienTu.Models.EF.BaiDang>
@{
    ViewBag.Title = "BaiDaDuyet";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable</h3>
                    </div>
                    <div class="card-body">
                        <div id="example2-wrapper" class="dataTable_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-sm-6"></div>
                                <div class="col-sm-12 col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline collapsed" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th>Tên bài viết</th>
                                                <th>Ngày đăng</th>
                                                <th>Tài khoản</th>
                                                <th>Trạng thái</th>
                                                <th>Lệnh - Công cụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                                @{    
                                                    foreach (var item in Model)
                                                    {
                                                    <tr>
                                                        <td>@item.ChuDe</td>
                                                        <td>@item.NgayDang</td>
                                                        <td>@item.UserID</td>
                                                        <td>@item.TrangThai1.TenTrangthai</td>
                                                        <td>
                                                            @using (Html.BeginForm("DungHienThi", "BaiDaDuyet", new { id = item.IDBaiDang }, FormMethod.Post))
                                                            {
                                                                @Html.Hidden("IDBaiDang", item.IDBaiDang)
                                                                <button type="submit" class="btn btn-danger" title="Cho phép ngừng hiển thị bài ở các trang">Dừng hiển thị</button>
                                                            }
                                                        </td>
                                                    </tr>
                                                    }
                                                }

                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6" id="example2_info" role="status" aria-live="polite">
                                        <h6>Showing 1 to 10 of ....</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="example2_previous">
                                                    <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                </li>
                                                <li class="paginate_button page-item">
                                                    <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                                </li>
                                                <li class="paginate_button page-item">
                                                    <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                                </li>
                                                <li class="paginate_button page-item">
                                                    <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                                </li>
                                                <li class="paginate_button page-item">
                                                    <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                                                </li>
                                                <li class="paginate_button page-item">
                                                    <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                                                </li>
                                                <li class="paginate_button page-item next" id="example2_next">
                                                    <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

